* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    margin: auto;
}

#header {
    width: 95%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
}

#logo {
    text-decoration: none;
    color: #1a1a1a;
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 1px;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#navbar li {
    list-style: none;
    padding: 0 20px;
}

#navbar li a {
    text-decoration: none;
    font-size: 18px;
    color: #1a1a1ad0;
}

#navbar button {
    border: none;
    background: rgba(231, 228, 228, 0.744);
    padding: 10px 18px;
    margin-left: 90px;
    border-radius: 4px;

}

#navbar button input {
    border: none;
    background: none;
    font-size: 14px;
    color: #1a1a1ad0;
}

#navbar button i {
    color: #1a1a1ad0;
    font-size: 20px;
}

#navbar .fa-heart {
    font-size: 22px;
    color: #1a1a1ad0;
    margin-left: 30px;
}

#navbar a svg {
    fill: #1a1a1ad0;
    width: 28px;
}

hr {
    margin: 20px 0;
}

/* HEADER STYLING ENDS HERE */